*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial;
    font-size: 14px;
}

.container{
    width: 80%;
    margin: 50px auto;
}

.table{
    border-collapse: collapse;
    box-shadow: 0 0 4px -3px #505050;
    border: 1px solid #dcdcdc;
}

.table thead th {
    color: #23649c;
    cursor: pointer;
    text-align: left;
    font-weight: normal;
}

.table.width-full{
    width: 100%;
}

.table-bordered th,td{
    border-right: 1px solid #efefef;
    padding: 9px 14px;
}

.table tbody tr:nth-child(even) {
    background-color: #e8e8e866;
}

.table-bordered th:last-child, td:last-child {
    border-right: none;
}

.table thead {
    border-bottom: 1px solid #e2e2e2;
}

.form-control{
    padding: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    outline: none;
}

.m-b-10{
    margin-bottom: 10px;
}

.data-table{
    max-width: 100%;
    overflow-x: scroll;
}
.table-filter{
    display: inline-block;
}
.pull-right{
    float: right;
}

.table-options{
    width: 100%;
    display: table;
    margin-bottom: 10px;
}

.table-def{
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}


.table-options .table-title{
    margin: 0;
    font-size: 1.5em;
}